@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Righteous&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root 
{
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
body
{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background);
}

img[alt="logo"]
{
    position: absolute;
    padding: 1em;
    left: 0;
    top: 0;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    perspective: 1000px;
}
/* =====For flip========== */
.forms_containers
{
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.6s;
   transform-style: preserve-3d;
}
.form_container,
.form_container_2
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    padding: .3em 4.5em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: var(--form-background);
    color: var(--text-base);
}
.form_container div:first-child,
.form_container_2 div:first-child
{
    display: flex;
    flex-wrap: wrap; 
    margin: 20px 0;
}
.form_container div:first-child h2,
.form_container_2 div:first-child h2
{
    margin-left: 10px;
}

.form_container_2
{
    height: 560px;
    transform: rotateY(180deg);
}
.forms_containers.active 
{
    transform: rotateY(180deg);
}
form div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 14px 0;
}
form div:last-child,
form div:last-child a
{
    color: #ffc632;
    margin-left: 4px;
}
form
{
    display: flex;
    flex-direction: column;  
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    position: relative;
    height: 45px;
    font-size: 15px;
    padding-left: 40px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 3px solid var(--text-base);
    border-radius: 5px;
    color: var(--text-base);

}
input[type="text"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus
{
    border: 3px solid var(--primary-color);
    outline: none;
    color: #ffc632;
}
img[alt="eye"]
{
    position: absolute;
    padding: 12px;
    right: 15%;
    cursor: pointer;
    z-index: 1;
}
img[alt="mail"],
img[alt="lock"]
{
    position: absolute;
    padding: 12px;
    z-index: 1;
}
#check
{
    width: 30px;
    background-color: #24221f;
}
input[type="submit"]
{
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffc632;
    transition: .5s;
}
input[type="submit"]:hover
{
    color: #ffc632;
    border: 2px solid #ffc632;
    background-color: transparent;
    transition: .5s;
}

a
{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 45px;
    font-weight: 500;
}



/* ===================================== */
.checkbox-flip, input[type='checkbox']
{
  visibility: hidden;
}

.checkbox-flip + label span
{
  display: inline-block;
  margin: 0 6px -4px 0;
  transition: all .3s ease-in-out;
}
.checkbox-flip + label span ::before  
{
  content: "";
  position: absolute;
  z-index: 1;
  background: transparent;
  transition: all .3s ease-in-out;
}
.checkbox-flip + label span, ::after {
  width: 20px;
  height: 20px;
  border: 2px solid #ffc632;
}
.checkbox-flip, ::after
{
  z-index: 0;
  border: none;
}
.checkbox-flip:checked + label span, ::before
{
  transform: rotateY(180deg);
  background: #ffc632;
}

